@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

html {
    height: 100%;

}

body {
    min-height: 100%;
}

button:hover {
    cursor: pointer;
}

select:hover {
    cursor: pointer;
}

main {
    display: flex;
    justify-content: space-evenly;
}

.part {
    /*border: 1px solid blue;*/
}


/* LOADER */


#loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}


/* HEADER */


header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5rem;
}

#titre {
    text-align: center;
    font-size: 3em;
}

#views-list {
    display: flex;
    gap: 0; /* buttons must be glued together */
    padding-bottom: 2rem;
    align-self: center;
}

/* first button of the list (set the radius for its left angles) */
#views-list > *:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* last button of the list (set the radius for its right angles) */
#views-list > *:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btns-vue {
    all: unset;
    padding: 1rem;
    background-color: lightgray;

    transition: all ease 0.2s;
}

.btns-vue:hover {
    background-color: darkgray;
}


/* LEFT PART */


.simulator-container {
    position: relative;
    height: 306px;
    width: 563px;

    canvas {
        position: absolute;
    }
}

#left-part {
    flex-direction: column;
}

canvas {
    background-image: url('../img/table.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#canvas-simulateur:hover {
    cursor: grab;
}

#canvas-simulateur:active {
    cursor: grabbing;
}

#top-table-container {
    display: flex;
    flex-direction: row;
}

.select-top-table-container {
    background-color: lightgray;
    border: none;
    padding: 0.5em;
    margin: 0.8em;
    justify-content: center;
    border-radius: 0.5rem;
    font-size: 1rem;
}

#reload-btn {
    background-color: lightgray;
    border: none;
    padding: 0.5em;
    margin: 0.8em;
    justify-content: center;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 7rem;
    box-shadow: 3px 3px 5px 1px #a8a8a8;
}

#reload-btn:hover {
    background-color: darkgray;
}

#canvas-output-video {
    width: 600px;
    height: 400px;
}


/* RIGHT PART */


#right-part > * {
    margin: 0 1rem 0 1rem;
}


/* RIGHT PART : GO and SCENARIOS */


#robots-go-scenarios {
    flex-direction: column;
    /*align-items: center;*/
    justify-content: space-evenly;
}

.div-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#go-btn {
    /* sizes */
    border-radius: 100%;
    width: 10rem;
    height: 10rem;

    /* text */
    font-size: 3rem;
    font-weight: bold;

    /* style */
    border: none;
    box-shadow: 10px 10px 10px 1px grey;

    transition: all ease 0.2s;
}

#go-btn:hover {
    transform: scale(1.1) translate(-5px, -5px);
    box-shadow: 20px 20px 10px 1px grey;
}

#go-btn:active {
    transform: scale(0.9) translate(10px, 10px);
    box-shadow: 3px 3px 5px 1px grey;
}

.text-up-to-select {
    font-size: 1.5rem;
    padding: 1rem;
}

select {

    padding: 0.5rem;

    /* style */
    border: none;
    border-radius: 5px;
    background-color: #F0F0F0;
    box-shadow: 3px 3px 5px 1px #a8a8a8;
    font-size: 1rem;

    transition: all ease 0.2s;
}

#select-scenarios:hover {
    background: lightgrey;
}

.option {
    background-color: #F0F0F0;

    transition: all ease 0.2s;
}

.option:hover {
    background-color: lightgrey;
}


/* RIGHT PART : CONTROLS (ARROWS) */


#arrow-controls {
    justify-content: center;
    align-items: center;
}

#grid-btns {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30% 30% 30%;
}

#btn-forward {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

#btn-turn-left {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}

#btn-turn-right {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
}

#btn-backward {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
}

#input-duration {
    /* positions in the grid */
    grid-column: 2 / 2;
    grid-row: 2 / 2;

    /* style */
    font-size: 0.9rem;
    font-weight: bold;
    height: 30%;
    width: 66%;
    border: 2px solid grey;
    border-radius: 0.5rem;
    padding: 0.5rem;
    padding-right: 0;
}

.arrow {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fleche:hover svg path,
#fleche:active svg path {
    fill: green;
}

#btn-turn-left:active {
    animation: 2s linear infinite tournerAGauche;
}

#btn-turn-right:active {
    animation: 2s linear infinite tournerADroite;
}

#btn-forward:active {
    animation: 1s linear infinite avancer;
}

#btn-backward:active {
    animation: 1s linear infinite reculer;
}

.cursor-motor {
    width: 2rem;
    padding: 0;
    margin: 0;
    writing-mode: vertical-lr;
    direction: rtl;
}


/* ANIMATIONS */


@keyframes tournerAGauche {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes tournerADroite {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes avancer {
    100% {
        transform: translate(0, -20px);
        opacity: 0;
    }
}


@keyframes reculer {
    100% {
        transform: translate(0, 20px);
        opacity: 0;
    }
}


/* FOOTER */


footer {
    /* position block */
    display: flex;
    position: fixed;
    bottom: 0;

    /* position text */
    align-items: center;
    justify-content: center;

    /* size */
    width: 100%;
    height: 3rem;

    /* style */
    background: #F0F0F0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.displayNone {
    display: none;
}

.displayFlex {
    display: flex;
}